.multiselect {
  @apply relative mx-auto w-full flex items-center justify-end box-border cursor-pointer border border-gray-300 rounded-sm bg-white text-base leading-snug outline-hidden;
}
.multiselect.is-disabled {
  @apply cursor-default bg-gray-100;
}
.multiselect.is-open {
  @apply rounded-b-none;
}
.multiselect.is-open-top {
  @apply rounded-t-none;
}
.multiselect.is-active {
  @apply ring-3 ring-green-500/30;
}

.multiselect-wrapper {
  @apply relative mx-auto w-full flex items-center justify-end box-border cursor-pointer outline-hidden;
}

.multiselect-single-label {
  @apply flex items-center h-full max-w-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5 pr-16 box-border rtl:left-auto rtl:right-0 rtl:pl-0 rtl:pr-3.5;
}

.multiselect-single-label-text {
  @apply text-ellipsis overflow-hidden block whitespace-nowrap max-w-full;
}

.multiselect-multiple-label {
  @apply flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5 rtl:left-auto rtl:right-0 rtl:pl-0 rtl:pr-3.5;
}

.multiselect-search {
  @apply w-full absolute inset-0 outline-hidden focus:ring-0 appearance-none box-border border-0 text-base font-sans bg-white rounded-sm pl-3.5 rtl:pl-0 rtl:pr-3.5;
}

.multiselect-tags {
  @apply grow shrink flex flex-wrap items-center mt-1 pl-2 min-w-0 rtl:pl-0 rtl:pr-2;
}

.multiselect-tag {
  @apply bg-accent-accent text-white text-sm font-semibold py-0.5 pl-2 rounded-sm mr-1 mb-1 flex items-center whitespace-nowrap min-w-0 rtl:pl-0 rtl:pr-2 rtl:mr-0 rtl:ml-1;
}
.multiselect-tag.is-disabled {
  @apply pr-2 opacity-50 rtl:pl-2;
}

.multiselect-tag-wrapper {
  @apply whitespace-nowrap overflow-hidden text-ellipsis;
}

.multiselect-tag-wrapper-break {
  @apply whitespace-normal break-all;
}

.multiselect-tag-remove {
	align-items: center;
	border-radius: var(--ms-tag-remove-radius, 4px);
	display: flex;
	justify-content: center;
	margin: var(--ms-tag-remove-my, 0) var(--ms-tag-remove-mx, .125rem);
	padding: var(--ms-tag-remove-py, .25rem) var(--ms-tag-remove-px, .25rem)
}

.multiselect-tag-remove:hover {
	background: rgba(0, 0, 0, .063)
}

.multiselect-tag-remove-icon {
	background-color: currentColor;
	display: inline-block;
	height: .75rem;
	-webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 320 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m207.6 256 107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z'/%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 320 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m207.6 256 107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z'/%3E%3C/svg%3E");
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
	opacity: .8;
	width: .75rem
}

.multiselect-tags-search-wrapper {
  @apply inline-block relative mx-1 mb-1 grow shrink h-full;
}

.multiselect-tags-search {
  @apply absolute inset-0 border-0 outline-hidden focus:ring-0 appearance-none p-0 text-base font-sans box-border w-full;
}

.multiselect-tags-search-copy {
  @apply invisible whitespace-pre-wrap inline-block h-px;
}

.multiselect-placeholder {
  @apply flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5 text-gray-400 rtl:left-auto rtl:right-0 rtl:pl-0 rtl:pr-3.5;
}

.multiselect-caret,
.multiselect-clear-icon {
	height: 1.125rem;
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
	width: .625rem
}

.multiselect-caret {
	background-color: var(--ms-caret-color, #999);
	flex-grow: 0;
	flex-shrink: 0;
	margin: 0 var(--ms-px, .875rem) 0 0;
	-webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 320 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'/%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 320 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'/%3E%3C/svg%3E");
	pointer-events: none;
	position: relative;
	transform: rotate(0deg);
	transition: transform .3s;
	z-index: 10
}

.multiselect-caret.is-open {
	pointer-events: auto;
	transform: rotate(180deg)
}

.multiselect-clear {
  @apply pr-3.5 relative z-10 opacity-40 transition duration-300 shrink-0 grow-0 flex hover:opacity-80 rtl:pr-0 rtl:pl-3.5;
}

.multiselect-clear-icon {
  @apply bg-multiselect-remove bg-center bg-no-repeat w-2.5 h-4 py-px box-content inline-block;
}

.multiselect-spinner {
  @apply bg-multiselect-spinner bg-center bg-no-repeat w-4 h-4 z-10 mr-3.5 animate-spin shrink-0 grow-0 rtl:mr-0 rtl:ml-3.5;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M456.433 371.72l-27.79-16.045c-7.192-4.152-10.052-13.136-6.487-20.636 25.82-54.328 23.566-118.602-6.768-171.03-30.265-52.529-84.802-86.621-144.76-91.424C262.35 71.922 256 64.953 256 56.649V24.56c0-9.31 7.916-16.609 17.204-15.96 81.795 5.717 156.412 51.902 197.611 123.408 41.301 71.385 43.99 159.096 8.042 232.792-4.082 8.369-14.361 11.575-22.424 6.92z'%3E%3C/path%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M456.433 371.72l-27.79-16.045c-7.192-4.152-10.052-13.136-6.487-20.636 25.82-54.328 23.566-118.602-6.768-171.03-30.265-52.529-84.802-86.621-144.76-91.424C262.35 71.922 256 64.953 256 56.649V24.56c0-9.31 7.916-16.609 17.204-15.96 81.795 5.717 156.412 51.902 197.611 123.408 41.301 71.385 43.99 159.096 8.042 232.792-4.082 8.369-14.361 11.575-22.424 6.92z'%3E%3C/path%3E%3C/svg%3E");
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: var(--ms-spinner-color, var(--color-green-500));
  width: 1rem;
  height: 1rem;
  z-index: 10;
  flex-shrink: 0;
  flex-grow: 0;
}

.multiselect-inifite {
  @apply flex items-center justify-center w-full;
}

.multiselect-inifite-spinner {
  @apply bg-multiselect-spinner bg-center bg-no-repeat w-4 h-4 z-10 animate-spin shrink-0 grow-0 m-3.5;
}

.multiselect-dropdown {
	-webkit-overflow-scrolling: touch;
	background: var(--ms-dropdown-bg, #fff);
	border: var(--ms-dropdown-border-width, 1px) solid var(--ms-dropdown-border-color, #d1d5db);
	border-radius: 0 0 var(--ms-dropdown-radius, 4px) var(--ms-dropdown-radius, 4px);
	left: calc(var(--ms-border-width, 1px)*-1);
	margin-top: calc(var(--ms-border-width, 1px)*-1);
	max-height: var(--ms-max-height, 10rem);
	outline: none;
	right: calc(var(--ms-border-width, 1px)*-1);
	transform: translateY(100%);
}

.multiselect-dropdown {
  @apply absolute bottom-0 -mt-px overflow-y-auto z-50 flex flex-col;
}

.multiselect-dropdown.is-top {
	border-radius: var(--ms-dropdown-radius, 4px) var(--ms-dropdown-radius, 4px) 0 0;
	bottom: auto;
	top: var(--ms-border-width, 1px);
	transform: translateY(-100%)
}

.multiselect-dropdown.is-hidden {
  @apply hidden;
}

.multiselect-options {
  @apply flex flex-col p-0 m-0 list-none;
}

.multiselect-group {
  @apply p-0 m-0;
}

.multiselect-group-label {
  @apply flex text-sm box-border items-center justify-start text-left py-1 px-3 font-semibold bg-gray-200 cursor-default leading-normal;
}
.multiselect-group-label.is-pointable {
  @apply cursor-pointer;
}
.multiselect-group-label.is-pointed {
  @apply bg-gray-300 text-gray-700;
}
.multiselect-group-label.is-selected {
  @apply bg-accent-accent text-white;
}
.multiselect-group-label.is-disabled {
  @apply bg-gray-100 text-gray-300 cursor-not-allowed;
}
.multiselect-group-label.is-selected.is-pointed {
  @apply bg-accent-accent text-white opacity-90;
}
.multiselect-group-label.is-selected.is-disabled {
  @apply text-green-100 bg-green-600/50 cursor-not-allowed;
}

.multiselect-group-options {
  @apply p-0 m-0;
}

.multiselect-option {
  @apply flex items-center justify-start box-border text-left cursor-pointer text-base leading-snug py-2 px-3;
}
.multiselect-option.is-pointed {
  @apply text-gray-800 bg-gray-100;
}
.multiselect-option.is-selected {
  @apply text-white bg-accent-accent;
}
.multiselect-option.is-disabled {
  @apply text-gray-300 cursor-not-allowed;
}
.multiselect-option.is-selected.is-pointed {
  @apply text-white bg-accent-accent opacity-90;
}
.multiselect-option.is-selected.is-disabled {
  @apply text-green-100 bg-green-500/50 cursor-not-allowed;
}

.multiselect-no-options {
  @apply py-2 px-3 text-gray-600 bg-white text-left rtl:text-right;
}

.multiselect-no-results {
  @apply py-2 px-3 text-gray-600 bg-white text-left rtl:text-right;
}

.multiselect-fake-input {
  @apply bg-transparent absolute left-0 right-0 -bottom-px w-full h-px border-0 p-0 appearance-none outline-hidden text-transparent;
}

.multiselect-assistive-text {
  @apply absolute -m-px w-px h-px overflow-hidden;
    clip: rect(0 0 0 0);
}

.multiselect-spacer {
  @apply h-9 py-px box-content;
}